@model IEnumerable<TMDT.Models.HoaDon>



@foreach (var item in Model)
{
        <div class="col-6 col-md-4 col-lg-12">
            <div class="card" style="height:200px; margin-top:20px" onclick="location.href='@Url.Action("DonHangChiTiet", "KhachHang", new { maHoaDon = item.MaHoaDon })'">
                <div class="card-body" style="width: 100%">
                    <div class="container" style="height:200px">
                        <div class="row">
                            <div class="col-md-2">
                                <img src="~/Content/images/ic_bag.png" class="img-thumbnail" style="border:none" />
                            </div>
                            <div class="col-md-6">
                                <p><b>Ngày mua:  </b> &emsp;&emsp;&emsp;&emsp;@item.NgayMua</p>
                                @{ var temp = "chưa nhận hàng";
                                    var result = item.NgayNhan == null ? temp : item.NgayNhan.ToString();}
                                <p><b>Ngày nhận hàng:</b>&emsp;&emsp;@result</p>

 <p><b>Tổng tiền:</b> &emsp;&emsp;&emsp;&emsp;&emsp;@item.TongThanhToan</p>
                            </div>
                            <div class="col-md-4">

                                <a href="@Url.Action("DonHangChiTiet", "KhachHang", new { maDonHang = item.MaHoaDon})" class="btn btn-success">Xem chi tiết đơn hàng</a>
                                @if (ViewBag.TinhTrang == 1)
                                {
                                <a href="@Url.Action("HuyDonHang", "KhachHang", new { maDonHang = item.MaHoaDon})" class="btn btn-danger">Hủy đơn hàng</a>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
}

<style>
    .active-1 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>

