@model TMDT.Models.HoaDon

@{
    ViewBag.Title = "Đơn mua";
    Layout = "~/Views/Shared/_LayoutCaNhan.cshtml";
}


<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="flex-wrap:unset">
    <li class="nav-item">
        <a class="nav-link active" id="pills-apply-tab" data-toggle="pill" href="#pills-apply" role="tab" aria-controls="pills-apply" aria-selected="true" style="text-align:center">Chờ xác nhận</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-ready-tab" data-toggle="pill" href="#pills-ready" role="tab" aria-controls="pills-ready" aria-selected="false" style="text-align:center">Chờ lấy hàng</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-delivery-tab" data-toggle="pill" href="#pills-delivery" role="tab" aria-controls="pills-delivery" aria-selected="false" style="text-align:center">Đang giao</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-delivered-tab" data-toggle="pill" href="#pills-delivered" role="tab" aria-controls="pills-delivered" aria-selected="false" style="text-align:center">Đã giao</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-cancel-tab" data-toggle="pill" href="#pills-cancel" role="tab" aria-controls="pills-cancel" aria-selected="false" style="text-align:center">Đã hủy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-refund-tab" data-toggle="pill" href="#pills-refund" role="tab" aria-controls="pills-refund" aria-selected="false" style="text-align:center">Trả hàng</a>
    </li>
</ul>
<div class="tab-content" id="pills-tcancelontent">
    <div class="tab-pane fade show active" id="pills-apply" role="tabpanel" aria-labelledby="pills-apply-tab">@{Html.RenderAction("DonMua", "KhachHang", new { tinhTrang = 1 });}</div>
    <div class="tab-pane fade" id="pills-ready" role="tabpanel" aria-labelledby="pills-ready-tab">@{Html.RenderAction("DonMua", "KhachHang", new { tinhTrang = 2 });}</div>
    <div class="tab-pane fade" id="pills-delivery" role="tabpanel" aria-labelledby="pills-delivery-tab">@{Html.RenderAction("DonMua", "KhachHang", new { tinhTrang = 3 });}</div>
    <div class="tab-pane fade" id="pills-delivered" role="tabpanel" aria-labelledby="pills-delivered-tab">@{Html.RenderAction("DonMua", "KhachHang", new { tinhTrang = 4 });}</div>
    <div class="tab-pane fade" id="pills-cancel" role="tabpanel" aria-labelledby="pills-cancel-tab">@{Html.RenderAction("DonMua", "KhachHang", new { tinhTrang = 5 });}</div>
    <div class="tab-pane fade" id="pills-refund" role="tabpanel" aria-labelledby="pills-refund-tab">@{Html.RenderAction("DonMua", "KhachHang", new { tinhTrang = 6 });}</div>
</div>

<style>
    .nav-link.hover {
        background: #FF0707;
        opacity: 30%;
        color: white;
    }

    .nav-link.active {
        background: #FF0707;
        opacity: 30%;
        color: white;
    }
    /*    .active-2 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }

    .row {
        height: 200px;
    }

    .col-6:hover {
        cursor: pointer;
    }*/
</style>