<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Accped</title>
    <link href="../Content/css/templateMailStyle.css" rel="stylesheet" />
</head>

<body>
    <div style="text-align: center;">
        <img src="../Content/images/voucher_logo.png" width="200" />
    </div>
    <p>Xin chào <span>{{Name}}</span></p>
    <p>Cảm ơn bạn đã đặt hàng tại A+DPS!</p>
    <p>A+DPS đã nhận được yêu cầu đặt hàng của bạn và đang xử lý nhé. Bạn sẽ nhận được thông báo tiếp theo khi đơn hàng
        đã sẵn sàng được giao</p>
    <!--<div style="text-align: center;">
        <a href='{{Link}}' class="link">XEM CHI TIẾT ĐƠN HÀNG</a>
    </div>-->
    <p style="margin-top: 10px;">*Lưu ý nhỏ cho bạn: Bạn chỉ nên nhận hàng khi trạng thái đơn hàng là "Đang giao hàng"
        và nhớ kiểm tra Mã đơn hàng. Thông tin người gửi và Mã vận đơn để nhận đúng kiện hàng nhé.</p>

    <h4>THÔNG TIN ĐƠN HÀNG #{{MaHoaDon}} ({{NgayMua}})</h4>
    <hr border: 2px solid red; />
    <table class="table table-borderless">
        <thead>
            <tr id="append">
                <th>
                </th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <colgroup>
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 45%;">
            <col span="1" style="width: 15%;">
            <col span="1" style="width: 10%;">
            <col span="1" style="width: 15%;">
        </colgroup>
        <tbody>
            {{Tbody}}
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3" style="text-align:right">Tổng tiền: </td>
                <td style="text-align:right">{{TongTien}}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">Phí vận chuyển: </td>
                <td style="text-align:right">{{PhiVanChuyen}}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">Giảm giá: </td>
                <td style="text-align:right">{{GiamGia}}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right; vertical-align: middle">Thành tiền: </td>
                <td class="text-danger"
                    style="text-align: right; font-size:25px; font-weight: 500; vertical-align: middle">{{ThanhTien}}
                </td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:right">Phương thức thanh toán: </td>
                <td style="text-align:right">{{GiaoHang}}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</body>

</html>