@model TMDT.Models.ThuongHieu

@{
    ViewBag.Title = "ThuongHieuDetails";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<style>
    .active-1 {
        background-color: #CA2620;
        box-shadow: inset 5px 5px 12px #AA1B1B;
        transition: all 0.3s ease 0s;
    }
</style>

<div>
    <h2>Chi tiết thương hiệu</h2>
    <hr />

    <table class="table table-borderless">

        <tbody>
            <tr>
                <th scope="row">
                    Tên thương hiệu
                </th>
                <td>
                    @Html.DisplayFor(model => model.TenThuongHieu)
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Hình
                </th>
                <td><img src="@Model.Hinh" /></td>
            </tr>

        </tbody>
    </table>
</div>
<p>
    <a href="@Url.Action("QuanLyThuongHieu","QuanLy")" class="btn btn-outline-danger">Trở về</a>
</p>
