
@{
    ViewBag.Title = "ActiveAcc";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 empty-cart-cls text-center">
            <img src="https://media.istockphoto.com/vectors/flat-icon-check-vector-id496603666?k=20&amp;m=496603666&amp;s=170667a&amp;w=0&amp;h=QOfI-aqzv1dEamb2evpWUvKkukJwtH4YRF_Ugwksk6Y=" alt="Flat Icon Check Stock Illustration - Download Image Now - iStock" />
            <h3><strong>Kích hoạt tài khoản thành công</strong></h3>
            <a href="/NguoiDung/DangNhap" class="btn btn-primary cart-btn-transform m-3" data-abc="true">Đăng nhập</a>
        </div>
        </div>
    </div>>

