<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #EE0033; color: white;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left" style="padding-top: 30px;">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase"><img src="./imgs/logodps.png" alt="" style="width:180px"></h5>
                <p>"Mua theo cách của bạn <br> Tính tiền theo cách của chúng tôi"</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Giới thiệu</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Bản tin</a>
                    </li>
                    <li>
                        <a href="#!">Chính sách đổi thưởng</a>
                    </li>
                    <li>
                        <a href="#!">Hướng dẫn đổi thưởng</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Mua hàng</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Laptop mới</a>
                    </li>
                    <li>
                        <a href="#!">Laptop Hot</a>
                    </li>
                    <li>
                        <a href="#!">Laptop ưu đãi</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Liên hệ</h5>

                <p>155 Sư Vạn Hạnh, Quận 10, TP.HCM</p>

            </div>
        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->
    <hr>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="#"> APlusDPS.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
