<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
    <style>
        .bg {
        }

        .form-container {
            background: #fff;
            margin-top: 5%;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px 0px #000;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>
    @RenderBody()
</body>
</html>
