<meta name="viewport" content="width=device-width" />
<title>@ViewBag.Title</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">


@*<link rel="icon" class="img-fluid" href="~/Content/images/logodps.png" />*@
<link rel="shortcut icon" type="image/png" href="~/Content/images/ic.png" />
<script src="~/Scripts/UploadImage.js"></script>
