<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/StyleSheetMain.css" rel="stylesheet" />


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <script src="~/Scripts/script.js"></script>
</head>
<body>
    <!-- Navbar-->
    <div class="navbar" style="background-color: #EE0033;">

        <div class="container justify-content-between">
            <!-- Left elements -->
            <div class="d-flex">
                <!-- Brand -->
                <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="#">
                    <img src="~/Content/images/logodps.png" height="40" alt="" loading="lazy" style="margin-top: 2px;" />
                </a>
                <!-- Search form -->
                <div class="form-group has-search mb-3 w-auto my-auto d-none d-sm-flex">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search" style="border-radius: 90px; width: 400px;">
                </div>
                <!-- Actual search box -->
            </div>
            <!-- Left elements -->
            <!-- Right elements -->
            <ul class="navbar-nav flex-row">
                <li class="nav-item">
                    <button class="btn" style="color: white;"><i class="bi bi-house-door-fill" style="font-size: 1.2em;"></i> Trang chủ</button>
                </li>
                <li class="nav-item">
                    <button class="btn" style="color: white;"><i class="bi bi-cart4" style="font-size: 1.2em;color: white;"></i> Giỏ hàng (0)</button>
                </li>
                <li class="nav-item">
                    <button class="btn" style="color: white;"><i class="bi bi-person-circle" style="font-size: 1.2em;color: white;"></i> Đăng nhập</button>
                </li>
            </ul>
            <!-- Right elements -->
        </div>
    </div>
    <!-- Navbar -->
    <div class="body" style="width:90%; margin-left: 5%; margin-top: 2%;">
        @RenderBody()
    </div>


    <!-- Footer -->
    <footer class="page-footer font-small" style="background-color: #EE0033; color: white;">

        <!-- Footer Links -->
        <div class="container text-center text-md-left" style="padding-top: 30px;">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-3 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase"><img src="./imgs/logodps.png" alt="" style="width:180px"></h5>
                    <p>"Mua theo cách của bạn <br> Tính tiền theo cách của chúng tôi"</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Giới thiệu</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Bản tin</a>
                        </li>
                        <li>
                            <a href="#!">Chính sách đổi thưởng</a>
                        </li>
                        <li>
                            <a href="#!">Hướng dẫn đổi thưởng</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Mua hàng</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Laptop mới</a>
                        </li>
                        <li>
                            <a href="#!">Laptop Hot</a>
                        </li>
                        <li>
                            <a href="#!">Laptop ưu đãi</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->
                <div class="col-md-3 mb-md-0 mb-3">

                    <!-- Links -->
                    <h5 class="text-uppercase">Liên hệ</h5>

                    <p>155 Sư Vạn Hạnh, Quận 10, TP.HCM</p>

                </div>
            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
        <hr>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright:
            <a href="#"> APlusDPS.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</body>
</html>
<style>
    /* Bootstrap 4 text input with search icon */

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }

    a {
        text-decoration: none;
        color: white;
    }

        a:hover {
            text-decoration: none;
            color: yellow;
        }
</style>