@model IEnumerable<TMDT.Models.DanhGia>

@foreach (var item in Model)
{
    <div class="card" style="margin-bottom:10px">
        <div class="card-body">
            <div style="font-weight:500">@item.NguoiDung.Ten</div>

            @for (int i = 0; i < item.Diem; i++)
            {
                <i class="fa fa-star" aria-hidden="true" style="color:#FFD700"></i>
            }
            @for (int i = 5 - item.Diem; i > 0; i--)
            {
                <i class="fa fa-star-o" aria-hidden="true" style="color:#FFD700"></i>
            }
            <p class="card-text">@item.NoiDung</p>
            <p class="card-text">@item.NgayTao</p>
        </div>
    </div>
}
